* {
  list-style: none;
}

.board_body {
	width: 85%;
	float:right;
	margin-top:100;
};

a, a:hover {
		color:#000000;
		text-decoration:none;}
		
#board_body {
	width: 85%;
	float:right;
	margin-top:100;
	
}